body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    /* Set to the height of the viewport */
    margin: 0; 
}


.video{
    max-width: 80%; 
    
}
section {
    text-align: center; 
}
.img{
    align-items: ;
}
h1{
color: white;
}
h2{
color: white;
}
.a{
color: aqua;
}
.b{
color: gray;
}
.camp{
padding: auto;
margin: auto;
box-sizing: border-box;
}
.phone{
align-items: center;
}
